/* *{
margin: 0;
padding: 0;
}

.container{
  background: rgb(240, 236, 229);
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.container .box{
  width: 300px;
  padding: 30px;
  background: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  
}

.container .box input[type='text']{
width: 100%;
padding: 12px;
box-sizing: border-box;
margin: 5px 0;
outline: 0;
border: 0;
background: whitesmoke;
border-radius: 5px;
box-shadow: 0 0 0 1px rgba(200,200,200,0.3);

}

.container .box button{
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  background: rgb(3,131,99);
  color: white;
}

.error{
  color: red;
  text-align: center;
  padding: 10px;
  background: #ffe0e0;
  font-size: 12px;
}

.intrest{
  color:rgb(26, 190, 26);
  text-align: center;
  margin-top: 5px;
  padding: 10px;
  background: #ffe0e0;
  font-size: 20px;
} */


/* .box{
  padding: 30px;
  background: whitesmoke;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: red;
  font-size: 18px;
} */
